
#home {
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    background-image: url("./img/pexels-photo-160107.jpeg");
    background-size: cover;
    padding: var(--content-padding);
}

#home::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#home::before {
    right: 100%;
    top: 39%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-width: 20px;
    margin-top: -20px;
}

#home h1 {
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 3.5em;
    z-index: 1;
}

#home h1 span {
    display: block;
}