@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("./variables.css");
@import url("./timeline.css");
@import url("./resume-section.css");

body,
html {
    height: 100vh;
    font-family: "Roboto";
    margin: 0;
    -webkit-print-color-adjust: exact;
}


aside {
    display: none;
}

main {
    display: grid;
}

#home {
    display: none;
}

#about {
    display: none;
}

.btn {
    display: none;
}

#resume .container {
    padding: 0;
}

#resume .container article header {
    width: calc(100% - 60px);
    padding: 30px;
}

#resume .container article .skills {
    page-break-inside: avoid;
}

#resume .container article .skills .charts {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

#resume .container article .skills .charts div {
    display: grid;
    place-content: center;
}
