/* Large Desktop */
@media screen and (min-width:1600px) {
    :root {
        --body-grid-template-areas: "sidebar content";
        --body-grid-template-columns: 10% auto;
        --body-grid-template-rows: auto;
    
        /* Content padding */
        --content-padding: 0 15% 0 20%;

        --code-clip-path-left-chevron: polygon(30% 0, 5% 50%, 30% 100%, 25% 100%, 0% 50%, 25% 0%);
        --code-clip-path-slash: polygon(95% 0, 100% 0%, 75% 100%, 69% 100%);
        --code-clip-path-right-chevron: polygon(75% 0%, 100% 50%, 75% 100%, 70% 100%, 95% 50%, 70% 0);
    }
}